Xlib
parse
PyQt5
spacy
jinja2
pillow
psutil
easydev
moviepy
pymupdf
pyttsx3
colormap
markdown
requests
untangle
extcolors
omegaconf
scholarly
ansicolors
imap_tools
python-vlc
py-wallpaper
PyQtWebEngine
# preview-generator
charset-normalizer
# screen-brightness-control