vtk
Xlib
parse
PyQt5
scipy
spacy
jinja2
langid
pillow
psutil
pycld3
qrcode
easydev
imageio
moviepy
pydrive
pymupdf
pyttsx3
pyxhook
colormap
markdown
requests
untangle
extcolors
omegaconf
scholarly
ansicolors
imap_tools
matplotlib
python-vlc
py-wallpaper
PyQtWebEngine
vaderSentiment
charset-normalizer
# preview-generator
# screen-brightness-control