Xlib
PyQt5
jinja2
pillow
easydev
moviepy
pymupdf
colormap
markdown
requests
untangle
ansicolors
python-vlc
py-wallpaper
PyQtWebEngine
# preview-generator
charset-normalizer
# screen-brightness-control